body{
    padding:0px;
    margin: 0px;
}

div.form-student, div.list-student{
    width: 400px;
    border:1px solid #cccccc;
    margin: 40px;
    padding:10px;
    float: left;
}

div.list-student{
   width:800px;
}

h3{
    padding: 0px;
    margin-top: 0px;
    text-align: center;
}

div.form-student label{
    width: 450px;
    float: left;
}

div.form-student input[type="text"], button{
    margin-bottom: 10px;
    width: 200px;
    padding: 5px;
}
.error{
    color:red;
}